body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-control label,
.form-control label,
.form-control textarea{
    width: 100%;
    display: block;
}
.form-control label{
    margin-bottom: 0.5rem;
}
.form-control{
    margin-bottom: 1rem;
}
.form-action button,
.btn{
    background: rgb(202, 202, 224);
    font: inherit;
    border: 1px solid rgb(202, 202, 224);
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px black;
    color: white;
    cursor: pointer;
}
.form-action button:hover,
.form-action button:active,
.btn:active, .btn:hover
{
    background: rgb(86, 86, 189);
    border-color: rgb(202, 202, 224);
}

